.App {
    background-color: white;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
  }
.Auth-form-container-forgotPassword {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
.Auth-form-container-createNewpassword{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
}
  .Auth-form-container-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
  } 
  .Auth-form {
    width: 420px;
    box-shadow: 3px 5px 10px 10px lightblue;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
.Auth-form-verification {
  text-align: center;
  margin-bottom: 1em;
  font-size: 20px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
.dropdown-container {
  text-align: right;
}
.custom-dropdown::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.custom-dropdown option {
  padding: 3px;
}
.custom-dropdown {
  padding: 1px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
.center {
  display: block ;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 350px;
  height: 150px;
}
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }
  .image{
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 0.1em;
    margin-bottom: 0.5em;
    background-color: rgb(45,70,300);
    color: #fff;
  }
  .Greentext{
    color: Darkgreen;
    
  }
  
  